<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars</h1>
      <p>News.Images.Facts.Weather.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News:</h2>
    <h3>{{ mars.news_title }}<h3>
    <p>{{ mars.news_p }}</p>
    <h2>Featured Mars Image:</h2>
    <img src="{{mars.jpl_image_url}}" alt="Featured mars image">
    <h2>Latest Mars Weather:</h2>
    <h3>{{ mars.mars_weather }}<h3>
    <h3>{{ mars.title[0] }}<h3>
    <img src="{{mars.hemi_image_url[0]}}" alt="Featured mars image">
    <h3>{{ mars.title[1] }}<h3>
    <img src="{{mars.hemi_image_url[1]}}" alt="Featured mars image">
    <h3>{{ mars.title[2] }}<h3>
    <img src="{{mars.hemi_image_url[2]}}" alt="Featured mars image">
    <h3>{{ mars.title[3] }}<h3>
    <img src="{{mars.hemi_image_url[3]}}" alt="Featured mars image"></div>

</body>
</html>